{
    "env": {
		"browser": false,
		"node": true,
        "es6": false
	},
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "parserOptions": {
        // Only ESLint 6.2.0 and later support ES2020.
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "globals": {
        "describe": false,
        "it": false,
        "fdescribe": false,
        "fit": false,
        "beforeEach": false,
        "afterEach": false,
        "expect": false,
        "beforeAll": false,
        "afterAll": false
    },
    "rules": {
        "no-var": "warn",
        "quotes": [
            "warn",
            "single"
        ]
    }
}