# node
node_modules
.DS_Store

# test
coverage
.nyc_output
.nycrc.json
spec
jest.config.js

# eslint
.eslintrc
.eslintignore
eslint.config.mjs

# babel
babel.config.js

# development
.idea
.vscode
.theia
.DS_Store
.github
jsconfig.json

# rollup
rollup.config.js

# env
.env
