# nodejs
node_modules

# test
spec
.nycrc.json
.nyc_output


# eslint
.eslintrc
.eslintignore

# dotenv
.env

# ide
.DS_Store
.vscode
.theia
.idea
.devcontainer

# github
.github

# babel
babel.config.js
babel.config.corejs.js
rollup.config.js

# typescript
tsconfig.json

# gitpod
.gitpod.yml

# codacy
.codacy.yml

# jest
jest.config.js
jest.setup.js
jsconfig.json
